footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#about .container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    height: 80vh;
    padding: 20px;
}
#about h2 {
    text-align: center;
}


