/** Intro **/
#intro {
    background-image: url('../images/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#intro .container {
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 560px;
    width: 100%;
}
#intro .content {
    margin: 170px auto;
}
#intro h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
#intro button {
    background-color: red;
    border: 1px solid red;
    padding: 15px 32px;
    text-align:center; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}
#intro button:hover {
    border: 1px solid yellowgreen;
}
/** How It Works **/
#how-it-works {
    text-align: center;
}
#how-it-works h2 {
    color: #000;
}
#how-it-works img {
    max-width: 100px;
    max-height: 100px;
}
#how-it-works h3 {
    color: #000;
}

/** Popular **/ 
#popular {
    background-color: #fff;
}
#popular h2{
    color: #000;
    text-align: center;
}
#popular p{
    text-align: center;
}
#food-grid {
    margin: 0 auto;
}
#popular .food-item-card {
    border-top: 1px solid #efefef;
    padding: 10px;
}
#view-order-div {
    text-align:center; 
}
#view-order-div button {
    background-color: red;
    border: none;
    padding: 12px 32px;
    color: #fff;
    font-size: 16px;
    margin: 30px auto;
}
#popular img {
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
#popular h4 {
    margin: 0;
}
#popular .add-cart {
    margin: 5px 0;
}

/** Categories **/
#categories .grid{
    display: grid;
	grid-template-columns:auto auto;
}
#categories h2{
    color: #000;
    text-align: center;
}
#categories p{
    text-align: center;
}
#categories a{
    text-align: center;
}
#categories img{
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
}
#categories img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#categories span{
    color: #000;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/** How It Works **/
#how-it-works {
    min-height: 320px;
    margin: 0 0 30px 0;
}
#how-it-works img {
    min-width: 100px;
    height: 100px;
}
#how-it-work-list {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}


/** Popular **/ 
#food-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 20px;
    margin: 30px 0;
}
#popular .food-item-card {
    border-top: none;
    padding: 0px;
}
#popular img {
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}
#popular h4 {
    margin: 0;
}
#popular .add-cart {
    margin: 5px 0;
}

/** Categories **/
#categories .grid{
    display: grid;
    grid-template-columns:auto auto auto auto;
    margin: 30px 0;
}
#categories h2{
    color: #000;
    text-align: center;
}
#categories p{
    text-align: center;
}
#categories a{
    text-align: center;
}
#categories img{
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
}
#categories img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#categories span{
    color: #000;
}

}